<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700;800;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/index2.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="component-1">
            <img class="logo" src="/assets/Vector.png" alt="">
            <img class="title"src="/assets/Redberry Knight Cup.png" alt="">
        </div>
        <div class="component-2">
            <div class="head">
                <span class="header">Start Creating Your Account</span>
            </div>
            <div class="frame frame-1"><span class="num">1</span></div>
            <div class="line"></div>
            <div class="frame frame-2"><span class="num">2</span></div>
            <span class="comments com-1">Personal Information</span>
            <span class="comments com-2">Chess experience</span>
            <span class="article">Personal information</span>
            <span class="com2">This is Basic Information Fields</span>
            <form action="/" >
                <div class="wrapper wrapper-1">
                <input type="text" name="user"
                onfocus="if(this.value==this.defaultValue)this.value=''"
                onblur="if(this.value=='')this.value=this.defaultValue"
                value="Name" maxlength="19" required /> </div>
                <div class="wrapper wrapper-2"><input type="email" name="user"
                onfocus="if(this.value==this.defaultValue)this.value=''"
                onblur="if(this.value=='')this.value=this.defaultValue"
                onfocus="if(this.value==this.defaultValue)this.value=''"
                onblur="if(this.value=='')this.value=this.defaultValue"
                value="Email address" maxlength="19" required /></div>
                <div class="wrapper wrapper-3"><input type="tel" name="user"
                onfocus="if(this.value==this.defaultValue)this.value=''"
                onblur="if(this.value=='')this.value=this.defaultValue"
                value="Phone number" maxlength="19" required /></div>
                <div class="wrapper wrapper-4"><input type="text" name="user"
                onfocus="if(this.value==this.defaultValue)this.value=''"
                onblur="if(this.value=='')this.value=this.defaultValue"
                value="Date of birth" maxlength="19" required /></div>
           
            </form>
            <button class="back">Back</button>
            <button class="next">Next<img src="/assets/arrow.png" alt="picture"></button>
  
        </div>

        <div class="component-3"><img src="/assets/unsplash_27LH_0jXKYI.png" alt=""></div>
    </div>
</body>
</html>