@mixin page{
    .container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 48% 52%;
    grid-template-rows: 7% 93%;
        
    
    .component-1{
        grid-area: 1/1/2/2;
        background-color:$purple;
        position: relative;
        ;
        .logo{
            position: absolute;
            left: 6.5%;
            top:36.2%;
        }
        .title{
            position: absolute;
            left: 9.7%;
            top:35.7%;
        }
       
    }
    .component-2{
        grid-area:1/2/3/3;
        position: relative;
    }
    .component-3{
        grid-area: 2/1/3/2;
        overflow-y: hidden;
        
        img{
            width: 100%;
            height: 100%;
           
        }

    }
    
    }
    
}
@mixin button{
    button{
        position: absolute;
        display: flex;
        border-radius: 8px;
        width: 191px;
        height: 53px;
        background-color: $black;
        color:$white;
        font-family: 'Open Sans', sans-serif;
        padding: 13px 24px;
        font-size: 20px;
        line-height: 27.24px;
        left: 8.5%;
        top:55.6%;
        border: none;
        gap:10px;
        
        
    }
     button:hover{
        border: 2px solid $hover;
        cursor: pointer;
    
     }
}
@mixin form{
    // .wrapper{
    //     position: relative;
    //     display: inline-block;
    //     z-index: 1;
    // }
    // #name::placeholder{
    //     opacity: .5;
    //     color: #212529;
    //     font-weight: 400;
    //     font-size: 20px;
    //     font-family: 'Open Sans';
    //     font-style: normal;
    
      input{
        width: 743px;
        height: 30px;
        border:none;
        border-bottom: 1px solid inset 0px -1px 0px rgba(0, 0, 0, 0.125);
        outline: none;
        background: #FFFFFF;
        box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
        border-radius: 4px;
        margin-bottom: 30px;
        margin-bottom: 48px;
        line-height: 20px;
        padding-right: 14px;
        
        
    }
    input::placeholder{
        opacity: 1;
        color: #212529;
        font-weight: 400;
        font-size: 20px;
        font-family: 'Open Sans';
        font-style: normal;
    }
     
    // .wrapper:after {
    //     content: "*";
    //     position: absolute;
    //     color: red;
    //     z-index: 5;
    //     top: 9px;
    //   }
    }




