@mixin page{
    .container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 48% 52%;
    grid-template-rows: 7% 93%;
        
    
    .component-1{
        grid-area: 1/1/2/2;
        background-color:$purple;
        position: relative;
        ;
        .logo{
            position: absolute;
            left: 6.5%;
            top:36.2%;
        }
        .title{
            position: absolute;
            left: 9.7%;
            top:35.7%;
        }
       
    }
    .component-2{
        grid-area:1/2/3/3;
        position: relative;
    }
    .component-3{
        grid-area: 2/1/3/2;
        overflow-y: hidden;
        
        img{
            width: 100%;
            height: 100%;
           
        }

    }
    
    }
    
}



